@charset "UTF-8";
/*
fiction_shop
account
=====[rgb]=======
ロゴ グリーン
rgb(0, 194, 87);
=================
*/

/*===[login.php]===*/
#login-form {
  margin: auto;
  padding: 1%;
  width: 25%;
  border: 0.3rem dotted #ffffff;
  border-radius: 2rem;
  color: #ffffff;
}

.login-list {
  position: relative;
  margin: 10% auto;
  height: 5rem;
  width: 80%;
}

.login-id-label,
.login-pass-label {
  display: flex;
  padding-left: 2%;
  font-size: 1.2rem;
}

#login-id,
#login-pass {
  padding: 0 5%;
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  font-weight: normal;
  border: none;
  cursor: pointer;
}

#login-id.err,
#login-pass.err {
  border: 0.2rem solid #ff0000;
  background-color: #ff6464;
}
/*エラーメッセージ*/
.err-login_id,
.err-login_pass {
  padding: 0 5%;
  font-size: 1.2rem;
  color: #ff0000;
}

#login-check-area {
  padding-top: 10%;
  text-align: center;
  color: #ffffff;
}

/*チェックボックス*/
#login-checkbox {
  opacity: 0;
}
#login-checkbox:checked + #login-checklabel::after {
  opacity: 1;
}

#login-checklabel {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
#login-checklabel::before {
  position: absolute;
  top: 15%;
  left: 30%;
  content: "";
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 0.2rem;
  background-color: #ffffff;
}
#login-checklabel::after {
  position: absolute;
  opacity: 0;
  top: -20%;
  left: 31%;
  content: "";
  display: block;
  height: 2rem;
  width: 1.2rem;
  border-right: 0.3rem solid #00c257;
  border-bottom: 0.2rem solid #00c257;
  transform: rotate(45deg);
}

#login-submit-area {
  position: relative;
  margin-top: 5%;
}

#login-submit {
  margin: auto;
  width: 55%;
}

#login-err {
  position: absolute;
  bottom: -72%;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #ff0000;
}

#to-signup-area {
  margin: 10% auto;
  width: 70%;
  text-align: center;
  border-bottom: 0.1rem solid #ffffff;
}

#login-return-btn-outer {
  display: flex;
  justify-content: center;
  margin: 3% auto 0;
  width: 25%;
  text-align: center;
}

/*[新規登録フォーム]*/
#signup-ol {
  position: fixed;
  top: 0;
  z-index: 10;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

#signup-title {
  position: absolute;
  top: 5%;
  left: 20%;
  width: 60%;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

#signup-form-outer {
  position: absolute;
  top: 10%;
  left: 25%;
  margin: auto;
  padding: 3%;
  height: 80%;
  width: 50%;
  border: 0.3rem dotted #ffffff;
  border-radius: 2rem;
}

#signup-form {
  margin: auto;
  width: 100%;
}

.input-area {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-list {
  display: flex;
  align-items: center;
  padding-top: 2.5%;
  width: 25%;
  color: #ffffff;
}

.required-icon {
  padding-left: 2%;
  font-weight: bold;
  color: #ff0000;
}

.input-item {
  display: flex;
  align-items: center;
  text-align: left;
  white-space: nowrap;
  width: 70%;
}

.item-outer {
  width: 100%;
}

.item-label {
  display: flex;
  padding-left: 2%;
  height: 2rem;
  font-size: 1.2rem;
  color: #ffffff;
}

.input-case-s {
  padding: 3% 5%;
  width: 80%;
  font-size: 1.6rem;
  font-weight: normal;
  border: 0.15rem solid #000000;
  cursor: pointer;
}
.input-case-s.err {
  border: 0.2rem solid #ff0000;
  background-color: #ff6464e6;
}

.input-case-m {
  padding: 1.7% 2.5%;
  width: 45%;
  font-size: 1.6rem;
  font-weight: normal;
  border: 0.15rem solid #000000;
  cursor: pointer;
}
.input-case-m.err {
  border: 0.2rem solid #ff0000;
  background-color: #ff6464e6;
}

.input-case-l {
  padding: 1.7% 2.5%;
  width: 90%;
  font-size: 1.6rem;
  font-weight: normal;
  border: 0.15rem solid #000000;
  cursor: pointer;
}
.input-case-l.err {
  border: 0.2rem solid #ff0000;
  background-color: #ff6464e6;
}

#prefectures {
  display: block;
  padding: 1.8% 2%;
  resize: none;
  border: 0.15rem solid #000000;
}
#prefectures option {
  font-size: 1.6rem;
}

#check-submit-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto 5%;
}

#signup-err-outer {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
}

#signup-err {
  font-size: 2rem;
  font-weight: bold;
  color: #ff0000;
}

#signup-return-outer {
  position: absolute;
  bottom: 12%;
  right: 0;
  width: 20%;
  text-align: center;
}

/*エラーメッセージ*/
.err-first_name,
.err-last_name,
.err-post_code,
.err-prefectures,
.err-address_1,
.err-address_2,
.err-tel_num,
.err-contact_txt,
.err-mail_ad,
.err-password {
  padding-left: 1%;
  font-size: 1.2rem;
  text-shadow: 0.1rem 0.1rem 0.1rem #ffffff;
  color: #ff0000;
}

#prefectures.err {
  border: 0.2rem solid #ff0000;
  background-color: #ff6464e6;
}
#contact_txt.err {
  border: 0.2rem solid #ff0000;
  background-color: #ff6464e6;
}
#signup_pass.err {
  border: 0.2rem solid #ff0000;
  background-color: #ff6464e6;
}

#check-submit-area {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

#signup-return-btn {
  margin-right: 10%;
}

/*===[signup_check.php]===*/
#signup-result-container {
  position: relative;
  height: 94vh;
  width: 100%;
  background-color: #000000;
}

#signup-result-title-outer {
  margin: auto;
  padding: 5% 0;
  display: block;
  width: 50%;
  text-align: center;
}

#signup-result-title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 0.05rem solid #ffffff;
}

#signup-result-outer {
  margin: auto;
  padding: 0 5%;
  width: 60%;
  border: 0.3rem dotted #ffffff;
  border-radius: 2rem;
}

.signup-result-list {
  margin: 2% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ffffff;
}

.signup-result-label {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  font-size: 1.6rem;
}

.signup-result-item {
  display: flex;
  justify-content: left;
  width: 70%;
  font-size: 1.6rem;
  font-weight: bold;
}

#signup-result-txt-outer {
  margin: 2% auto;
  width: 50%;
  text-align: center;
  border-radius: 2rem;
  background-color: #ffffff;
}

#signup-result-txt {
  padding: 1% 0;
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

#signup-result-nav {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  color: #ffffff;
}

/*===[mycart.php]===*/
#cart-container {
  margin: 0 auto;
  padding: 2%;
  width: 90%;
  text-align: left;
}

.cart-form {
  display: flex;
  margin: 5% auto 0;
  padding: 2%;
  width: 70%;
  text-align: left;
  border-radius: 0.3rem;
  background-color: #eeeeee;
}

.cart-img-box {
  max-height: 15rem;
  max-width: 15rem;
}

.item-img {
  height: 100%;
}

.cart-item-lead {
  display: block;
  padding: 0.5% 5%;
  width: 70%;
}

.cart-item-name-outer {
  display: flex;
  align-items: baseline;
  width: 100%;
  border-bottom: 0.1rem solid #8f8f8f;
}

.cart-item-name {
  margin-left: 1%;
  font-size: 1.8rem;
  font-weight: bold;
}

.cart-item-price-outer {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 5% 0;
  width: 100%;
}

.cart-item-price {
  font-size: 1.8rem;
  font-weight: bold;
}

.cart-item-tax {
  padding: 0 1%;
  font-size: 1rem;
}

.cart-item-amount-outer {
  display: flex;
  justify-content: right;
  align-items: baseline;
}

.cart-item-amount {
  margin: 0 3%;
  font-size: 1.8rem;
  font-weight: bold;
}

.cart-err {
  text-align: center;
  font-weight: bold;
  color: #ff0000;
}

.cart-btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.delete-cart-btn {
  display: block;
  margin: auto;
  padding: 3%;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  color: #000000;
  border-radius: 0.3rem;
  border: 0.2rem solid #000000;
  background-color: #dcdcdc;
}

.delete-cart-icon {
  display: none;
}

#total-price-container {
  margin: 5% auto;
  width: 60%;
  text-align: right;
  color: #ffffff;
}

#delivery-price-outer {
  padding-right: 1%;
  color: rgb(255, 255, 255);
}

#delivery-price {
  display: inline;
  font-size: 1.6rem;
}

#total-price-outer {
  padding-right: 1%;
  color: #ffffff;
  border-bottom: 0.1rem solid #8f8f8f;
}

#total-price {
  display: inline;
  font-size: 1.6rem;
}

#all-total-price-outer {
  padding-top: 0.5%;
  padding-right: 1%;
  color: #ffffff;
}

#all-total-price {
  display: inline;
  font-size: 1.8rem;
}

#destination-outer {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 5% auto;
  padding: 2%;
  width: 60%;
  border: 0.2rem dotted #ffffff;
  border-radius: 0.5rem;
}

#destination-list {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: 80%;
  color: #ffffff;
}

.destination-item {
  margin-top: 1%;
  width: 15%;
}

.destination-item-child {
  width: 85%;
  text-align: left;
  font-size: 1.6rem;
  font-weight: bold;
}

#delivery-list {
  margin: auto;
  width: 20%;
  text-align: center;
  color: #ffffff;
}

#delivery-item {
  width: 100%;
}

#delivery-item-child {
  font-size: 1.6rem;
  font-weight: bold;
}

#order-lead {
  text-align: center;
  color: #ffffff;
}

#order-btn-area {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 7% 0;
  width: 35%;
}

#no-cart {
  padding: 5% 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: normal;
  color: #ffffff;
}

#mycart-return-btn-outer {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 5%;
  width: 30%;
}

#other-return-btn {
  display: none;
}
